@mixin flex($par) {
  display: flex;
  justify-content: $par;
  align-items: center;
}
.accord {
  width: 100%;
  margin-top: 1rem;
  .qn {
    height: 4rem;
    background-color: rgb(107, 144, 132);
    border: 1px solid black;
    box-shadow: inset 0 0 5px rgb(45, 49, 48);
    border-radius: 1rem;
    padding-right: 2rem;
    padding-left: 1rem;
    width: 100%;
    @include flex(flex-start);
    &:hover {
      background-color: rgb(83, 97, 93);
      color: azure;
      .drop {
        background-color: rgb(66, 104, 116);
      }
      transition: 0.5s ease;
    }
    .drop {
      cursor: pointer;
      height: 2.5rem;
      width: 2.5rem;
      border: 0.05rem solid black;
      background-color: beige;
      box-shadow: inset 0 0 8px #000000;
      margin: 0.3rem 0.3rem 0.3rem 0;
      border-radius: 1.5rem;
      @include flex(center);
      padding: 0.25rem;
      &:hover > h3 {
        font-size: 2.3rem;
        transition: 0.3s ease;
      }
    }
  }

  .ans {
    padding: 16px 10px 10px 10px;
    background-color: blanchedalmond;
    border-radius: 0 0 15px 15px;
    box-shadow: inset 0 0 8px #000000;
  }

  .active {
    background-color: rgb(83, 97, 93);
    color: azure;
    border-radius: 1rem 1rem 0 0;
    .drop {
      background-color: rgb(66, 104, 116);
    }
  }
}
.lightAccord {
}
.darkAccord {
}
