@mixin flex($par) {
  display: flex;
  justify-content: $par;
  align-items: center;
}

main {
  height: 93vh;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr 5rem;
  .desc {
    @include flex(center);
    flex-direction: column;
    grid-column: 2/3;
    p {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 3.5rem;
    }
  }
  .pic {
    @include flex(center);
    padding-top: 4rem;
    grid-column: 3/4;
    img {
      height: 30rem;
      width: 30rem;
      border-radius: 30rem;
      box-shadow: 0 0 10px #000000;
    }
  }
}

.homeLight {
  background-color: rgb(209, 236, 236);
}

.homeDark {
  background-color: rgb(59, 63, 63);
  color: white;
}
